ul.breadcrumb li {
    text-align:center !important;
    float:none;
    width:25%;
    border:1px solid grey;
}
html {
    max-width:560px;
}
body {
     max-width:560px;
    padding-top: 20px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Montserrat', sans-serif;
}
div {
     max-width:560px;
}

.list-picture-div {
    width:15%;float:left;height:100%;
}
.list-picture-box {
    width:40px;height:40px;
}
.list-picture-box img {
    width:100%;height:100%;
}
.list-info-div {
    width:40%;height:100%;float:left;
}
.list-message-div {
    width:18%;text-align:center;padding:3px 0 5px 0;height:100%;float:left;font-size:12pt;
}
.list-message-box {
    width:30px;height:30px;padding:4px 0 0 0;
}
.list-follow-div {
    width:25%;height:100%;float:left;padding:4px 0 0 0;
}
.list-follow-div form button {
    width:100%;
    padding:3px 5px;
}
.btn-default.dark {
    font-size:10pt;padding:3px 5px;background-color:transparent;border:1px solid rgba(100,100,100,0.6);color:grey;
}

/*HELPERS*/
.c-white {
    color:white;
}
.fs-large {
    font-size:16px;
}
.fs-medium {
    font-size:12px;
}
.fs-small {
    font-size:8px;
}
.fs-tiny {
    font-size:7px;
}
.text-fade {
    color:darkgrey;
}
.hrm0 {
    margin:0;
    opacity:0.2;
    margin-bottom:8px;
}
.m0 {
    margin:0;
}
.mt5 {
    margin-top:5px;
}
.p0 {
    padding:0;
}
.ps10 {
    padding-left:10px; padding-right:10px;
}
.w15 {
    width:15%;
}
.w50 {
    width:50%;
}
.w85 {
    width:85%;
}
.w100 {
    width:100%;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.tl {
    text-align:left;
}
.tr {
    text-align:right;
}
.pt8 {
    padding-top:8px;
}