ul.breadcrumb li {
    text-align:center !important;
    float:none;
    width:25%;
    border:1px solid grey;
}
html {
    max-width:560px;
}
body {
     max-width:560px;
    padding-top: 20px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Montserrat', sans-serif;
}
div {
     max-width:560px;
}